## Node
# Dependencies
node_modules/

package-lock.json

# Database files
*.db
focusflow.db


# Environment
.env
.env.local

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/

